
@{
    ViewBag.Title = "Landing";
}
<head>
    <meta name="google-signin-client_id" content="265842464185-ph8t040cof1f6052137uf631fe5n61sp.apps.googleusercontent.com">
</head>

<h2>Landing</h2>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
        window.location.href = 'Index'
    }

    function onLoad() {
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
    }
</script>
<a href="#" onclick="signOut();">Sign out</a>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
